<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
@if(!!gameData){ @if(gameData.status == GameStatus.STARTED){
@if(!!myPlayerData){
<div class="game-container">
  <div class="player-container">
    <img src="/assets/cheatsheet.png" alt="Points Cheatsheet" />
    <div class="trays">
      <div class="conveyor-belt-container">
        <app-tray
          [diceDocs]="myPlayerData.conveyorBelt"
          (diceClick)="myDiceClick($event)"
        ></app-tray>
      </div>
      <div class="tray-outer-container">
        <div class="tray-inner-container">
          <app-tray [diceDocs]="myPlayerData.tray"></app-tray>
        </div>
      </div>
    </div>
  </div>
  <div class="other-players-container">
    @for(player of playerData; track player ){
    @if(player.playerId!=myPlayerData.playerId){
    <div class="trays">
      <div class="conveyor-belt-container">
        <app-tray
          [diceDocs]="player.conveyorBelt"
          (diceClick)="otherDiceClick($event)"
        ></app-tray>
      </div>
      <div class="tray-outer-container">
        <div class="tray-inner-container">
          <app-tray [diceDocs]="player.tray"></app-tray>
        </div>
      </div>
    </div>
    } }
  </div>
</div>
} } @else {
<div class="container">
  <p>Welcome! Share this game ID with friends so they can join: {{ gameId }}</p>
  <button mat-button (click)="this.startGame()">Start Game</button>
  <div class="icons-container">
    @for(player of playerData; track player ){
    <div class="icon-container">
      <div>{{ player.playerName }}</div>
      <span class="material-symbols-outlined face-icon"> face </span>
      @if(player.startGame){
      <div>READY</div>
      } @else {
      <div>WAITING</div>
      }
    </div>
    }
  </div>
</div>
} }
