<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
@if(!!gameData){ @if(gameData.status == GameStatus.STARTED){
@if(!!myPlayerData){
<div class="game-container">
  <div class="player-container">
    <div class="player-sub-container">
      <img src="/assets/cheatsheet.png" alt="Points Cheatsheet" />
      <div class="trays">
        @if(myPlayerData.myTurn){
        <p class="turn-statement">Player's Turn</p>
        } @if(specialState==SpecialState.REROLL){
        <button
          mat-button
          (click)="this.reRoll()"
          [disabled]="this.reRollValid()"
        >
          RE ROLL
        </button>
        } @if(specialState==SpecialState.SWAP){
        <button mat-button (click)="this.swap()" [disabled]="this.swapValid()">
          SWAP
        </button>
        }
        <div
          [ngClass]="
            myPlayerData.roundStarter
              ? 'conveyor-belt-container red-border'
              : 'conveyor-belt-container'
          "
        >
          <app-tray
            [diceDocs]="myPlayerData.conveyorBelt"
            (diceClick)="myDiceClick($event)"
          ></app-tray>
        </div>
        <div class="tray-outer-container">
          <div class="tray-inner-container">
            <app-tray [diceDocs]="myPlayerData.tray"></app-tray>
          </div>
        </div>
      </div>
    </div>
    <div class="my-stats">
      <div class="stat-container">
        <div
          [ngClass]="
            specialState == SpecialState.REROLL
              ? 'menu-t token selected'
              : 'menu-t token'
          "
          (click)="enableReroll()"
        ></div>
        <div>{{ myPlayerData.menus }}</div>
      </div>
      <div class="stat-container">
        <div
          [ngClass]="
            specialState == SpecialState.SWAP
              ? 'chopsticks-t token selected'
              : 'chopsticks-t token'
          "
          (click)="enableSwap()"
        ></div>
        <div>{{ myPlayerData.chopsticks }}</div>
      </div>
      <div class="stat-container">
        <div class="pudding-t token"></div>
        <div>{{ myPlayerData.pudding }}</div>
      </div>
      <div class="stat-container">
        <div class="points">Points:</div>
        <div>{{ myPlayerData.points }}</div>
      </div>
    </div>
  </div>
  <div class="other-players-container">
    @for(player of playerData; track player ){
    @if(player.playerId!=myPlayerData.playerId){
    <div class="other-player-container">
      <div class="trays">
        <div
          [ngClass]="
            player.roundStarter
              ? 'conveyor-belt-container red-border'
              : 'conveyor-belt-container'
          "
        >
          <app-tray
            [diceDocs]="player.conveyorBelt"
            (diceClick)="otherDiceClick($event, player.playerId)"
          ></app-tray>
        </div>
        <div class="tray-outer-container">
          <div class="tray-inner-container">
            <app-tray [diceDocs]="player.tray"></app-tray>
          </div>
        </div>
        <div class="player-name-container">
          <div>{{ player.playerName }}</div>
          @if(player.myTurn){
          <p class="turn-statement">Player's Turn</p>
          }
        </div>
      </div>
      <div class="other-stats">
        <div class="stat-container">
          <div class="menu-t token"></div>
          <div>{{ player.menus }}</div>
        </div>
        <div class="stat-container">
          <div class="chopsticks-t token"></div>
          <div>{{ player.chopsticks }}</div>
        </div>
        <div class="stat-container">
          <div class="pudding-t token"></div>
          <div>{{ player.pudding }}</div>
        </div>
        <div class="stat-container">
          <div class="points">Points:</div>
          <div>{{ player.points }}</div>
        </div>
      </div>
    </div>
    } }
  </div>
</div>
} } @else if (gameData.status == GameStatus.CREATED){
<div class="container">
  <p>Welcome! Share this game ID with friends so they can join: {{ gameId }}</p>
  <button mat-button (click)="this.startGame()">Start Game</button>
  <div class="icons-container">
    @for(player of playerData; track player ){
    <div class="icon-container">
      <div>{{ player.playerName }}</div>
      <span class="material-symbols-outlined face-icon"> face </span>
      @if(player.startGame){
      <div>READY</div>
      } @else {
      <div>WAITING</div>
      }
    </div>
    }
  </div>
</div>
} @else if (gameData.status == GameStatus.FINISHED){
<div class="container">
  <p>Congratulations {{ gameData.winner }}!</p>
  <button mat-button (click)="this.goToJoinGame()">New Game</button>
  <div class="icons-container">
    @for(player of playerData; track player ){
    <div class="icon-container">
      <div>{{ player.playerName }}</div>
      <span class="material-symbols-outlined face-icon"> face </span>
      <div>{{ player.points }}</div>
      @if(player.playerName==gameData.winner){
      <div class="winner-label">WINNER</div>
      }
    </div>
    }
  </div>
</div>
} }
